.hero-banner {
  position: relative;
  height: 80vh; // Adjusted for better visibility
  color: white;
  object-fit: contain;

  .hero-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 20px 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
    border-radius: 4px;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
      font-size: 2.2rem;
    }

    &.left { left: 20px; }
    &.right { right: 20px; }
  }

  .hero-contents {
    margin-left: 50px;
    padding-top: 250px;
    height: 190px;
    position: relative;
    z-index: 5;
  }

  .hero-fade-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  }
}