.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 0.4s ease;

  &.nav-black {
    background: #141414;
  }
}

.nav-left {
  display: flex;
  align-items: center;

  .logo {
    font-size: 1.4rem;
    font-weight: 800;
    color: #e50914;
    text-decoration: none;
    margin-right: 2rem;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: #e5e5e5;
      font-size: 0.9rem;
      transition: color 0.3s;
      &:hover { color: #fff; }
    }
  }
}
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-right: 1.5rem;

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }
}
.nav-search-container {
  display: flex;
  align-items: center;
}
.desktop-search-container {
  display: flex;
  align-items: center;
}
.mobile-search-wrapper {
  display: none;
  width: 100%;
  margin-bottom: 1.5rem;
}
.nav-search-input {
  width: 300px;
  height: 34px;
  padding: 0 12px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  color: #ffffff;
  font-size: 0.9rem;

  outline: none;
  transition: all 0.3s ease;

  &::placeholder {
    color: #b3b3b3;
  }

  &:focus {
    width: 340px;
    background-color: #000;
    border-color: #ffffff;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 0 1rem;
  }
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 68px;
    left: -100%;
    flex-direction: column;
    background-color: #141414;
    width: 100%;
    height: calc(100vh - 68px);
    padding: 2rem;
    transition: 0.4s ease;
    gap: 2rem;

    &.open {
      left: 0;
    }

    a {
      font-size: 1.5rem;
      width: 100%;
    }
  }

  .nav-search-input {
    width: 300px;
    &:focus { width: 340px; }
  }
}