.movie-row {
  margin-left: 20px;
  color: white;
}

.row-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 10px;
  padding-left: 40px;
  padding-right: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.row-wrapper:hover .handle {
  opacity: 1;
}

.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 40;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}


.handle:hover {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 3rem;
}

.handle-left { left: 0; border-radius: 0 4px 4px 0; }
.handle-right { right: 0; border-radius: 4px 0 0 4px; }
